setup/dify/workflows/prd-to-tech-doc.yml
version: "0.6.0"
kind: app
app:
  name: "PRD → 技术设计文档"
  mode: workflow
  description: "将 PRD 产品需求文档转化为技术设计文档（工作流一）"
  icon: "\U0001F4D0"
  icon_type: emoji
  icon_background: "#E4FBCC"
  use_icon_as_answer_icon: false

workflow:
  features: {}
  environment_variables: []
  conversation_variables: []
  graph:
    edges:
      - source: start
        sourceHandle: source
        target: llm_prd_to_tech
        targetHandle: target
      - source: llm_prd_to_tech
        sourceHandle: source
        target: end
        targetHandle: target
    nodes:
      - id: start
        position:
          x: 80
          y: 282
        data:
          title: 开始
          type: start
          variables:
            - label: PRD 内容
              max_length: 100000
              options: []
              required: true
              type: text-input
              variable: prd_content

      - id: llm_prd_to_tech
        position:
          x: 380
          y: 282
        data:
          title: "PRD → 技术设计文档"
          type: llm
          model:
            provider: anthropic
            name: claude-opus-4-6
            mode: chat
            completion_params:
              temperature: 0.3
              max_tokens: 8192
          prompts:
            - role: system
              text: |
                你是一个资深 Java Spring Boot 后端架构师。
                技术栈约束：

                - 后端：Java 17 + Spring Boot 3.x + MyBatis-Plus + MySQL 8.0
                - 前端：Vue3（Web）、Flutter 3.x + GetX（移动端）、Kotlin（Android 客户端）
                - 接口规范：RESTful，统一返回 Result<T>
                - 分层：Controller → Service → ServiceImpl → Mapper → Entity

                输出必须包含：

                1. 功能概述（一句话）
                2. 需求理解确认（复述 PRD 中的核心业务规则，列出疑问点）
                3. 数据库设计（建表 SQL）
                4. 接口设计（接口列表，含请求/响应字段）
                5. 分层实现说明
                6. 涉及的现有模块改动
                7. 注意事项 & 边界情况

                只输出 Markdown 文档内容，不输出任何解释性文字。
                输出必须符合技术设计文档模板的 frontmatter 格式（source_prd、generated_by、generated_at 字段由系统自动填入）。
                如 PRD 内容不足以推断某项设计决策，在对应章节以 [待确认] 标注，并在"疑问点"中说明缺少的信息。
            - role: user
              text: "{{#start.prd_content#}}"
          vision:
            enabled: false

      - id: end
        position:
          x: 680
          y: 282
        data:
          title: 结束
          type: end
          outputs:
            - value_selector:
                - llm_prd_to_tech
                - text
              variable: result
