setup/dify/workflows/tech-doc-to-openapi.yml
version: "0.6.0"
kind: app
app:
  name: "技术文档 → OpenAPI"
  mode: workflow
  description: "将技术设计文档转化为 OpenAPI 3.0.3 yaml 规范（工作流二）"
  icon: "\U0001F4CB"
  icon_type: emoji
  icon_background: "#D5F5F6"
  use_icon_as_answer_icon: false

workflow:
  features: {}
  environment_variables: []
  conversation_variables: []
  graph:
    edges:
      - source: start
        sourceHandle: source
        target: llm_tech_to_openapi
        targetHandle: target
      - source: llm_tech_to_openapi
        sourceHandle: source
        target: end
        targetHandle: target
    nodes:
      - id: start
        position:
          x: 80
          y: 282
        data:
          title: 开始
          type: start
          variables:
            - label: 技术设计文档内容
              max_length: 100000
              options: []
              required: true
              type: text-input
              variable: tech_doc_content

      - id: llm_tech_to_openapi
        position:
          x: 380
          y: 282
        data:
          title: "技术文档 → OpenAPI"
          type: llm
          model:
            provider: anthropic
            name: claude-sonnet-4-6
            mode: chat
            completion_params:
              temperature: 0.2
              max_tokens: 8192
          prompts:
            - role: system
              text: |
                你是一个 API 规范工程师。根据输入的技术设计文档，生成符合 OpenAPI 3.0.3 规范的 yaml 文件。

                技术栈约束：

                - 后端：Java 17 + Spring Boot 3.x
                - 接口路径以 /api/v1/ 开头，路径命名小写中划线
                - 统一返回 Result<T>，结构为 { code: integer, message: string, data: T }
                - 成功 code=200，业务错误码从 1000 起
                - 分页响应使用 { records: [], total: integer, size: integer, current: integer }

                生成规则：

                1. 每个接口必须包含：summary、operationId、parameters/requestBody、responses（200 和错误码）
                2. 所有 Schema 定义放在 components/schemas 下，接口通过 $ref 引用
                3. 请求体使用 application/json
                4. 必须包含 Result 和 PageResult 的通用 Schema 定义
                5. operationId 使用 camelCase，与技术设计文档中的接口函数命名一致
                6. 每个接口的 responses 至少包含 200（成功）和 400（参数错误）
                7. 需要认证的接口添加 security 字段，引用 BearerAuth
                8. 必须包含 info（title、version）和 servers（至少一个条目）字段
                9. 必须在 components/securitySchemes 下声明 BearerAuth（type: http, scheme: bearer, bearerFormat: JWT）

                只输出 yaml 内容，不输出任何解释性文字。
            - role: user
              text: "{{#start.tech_doc_content#}}"
          vision:
            enabled: false

      - id: end
        position:
          x: 680
          y: 282
        data:
          title: 结束
          type: end
          outputs:
            - value_selector:
                - llm_tech_to_openapi
                - text
              variable: result
